.App {
	text-align: center;
	font-family: monospace;
	font-size: 40px;
	margin-top: 20%;
	background: #e23d95;
	color: black;
}

.App-title {
	font-size: 50px;
}

.days , .min, .hours, .sec{
	display: inline;
	margin: 10px;
}
